
h1, h2, h3, h4, h5, h6 { font-weight: 400; }
.layui-edge, .layui-header, .layui-inline, .layui-main { position: relative; }
blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul { margin: 0px; padding: 0px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
a:active, a:hover { outline: 0px; }
img { border: none; }
li { list-style: none; }
table { border-collapse: collapse; border-spacing: 0px; }
h4, h5, h6 { font-size: 100%; }
button, input, optgroup, option, select, textarea { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; outline: 0px; }
pre { white-space: pre-wrap; word-wrap: break-word; }
body { font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 14px; line-height: normal; font-family: "Helvetica Neue", Helvetica, "PingFang SC", 微软雅黑, Tahoma, Arial, sans-serif; }
hr { height: 1px; margin: 10px 0px; border: 0px; clear: both; }
a { color: rgb(51, 51, 51); text-decoration: none; }
a:hover { color: rgb(119, 119, 119); }
a cite { font-style: normal; }
.layui-clear { clear: both; }
.layui-clear::after { content: " "; clear: both; display: block; height: 0px; }
.layui-disabled, .layui-icon, .layui-unselect { user-select: none; }
.layui-icon { font-size: 16px; font-style: normal; -webkit-font-smoothing: antialiased; font-family: layui-icon !important; }
.layui-main { width: 1140px; margin: 0px auto; }
.layui-header { z-index: 1000; height: 60px; }
.layui-header a:hover { transition: all 0.5s; }
.layui-layout-admin .layui-header { background-color: rgb(35, 38, 46); }
.layui-layout-admin .layui-main { width: auto; margin: 0px 15px; }
.layui-layout-admin .layui-footer { position: fixed; left: 200px; right: 0px; bottom: 0px; height: 44px; line-height: 44px; padding: 0px 15px; background-color: rgb(238, 238, 238); }
.layui-layout-admin .layui-header .layui-nav { background: 0px 0px; }
.layui-container { position: relative; margin: 0px auto; padding: 0px 15px; box-sizing: border-box; }
.layui-row::after, .layui-row::before { content: ""; display: block; clear: both; }
.layui-col-lg1, .layui-col-lg10, .layui-col-lg11, .layui-col-lg12, .layui-col-lg2, .layui-col-lg3, .layui-col-lg4, .layui-col-lg5, .layui-col-lg6, .layui-col-lg7, .layui-col-lg8, .layui-col-lg9, .layui-col-md1, .layui-col-md10, .layui-col-md11, .layui-col-md12, .layui-col-md2, .layui-col-md3, .layui-col-md4, .layui-col-md5, .layui-col-md6, .layui-col-md7, .layui-col-md8, .layui-col-md9, .layui-col-sm1, .layui-col-sm10, .layui-col-sm11, .layui-col-sm12, .layui-col-sm2, .layui-col-sm3, .layui-col-sm4, .layui-col-sm5, .layui-col-sm6, .layui-col-sm7, .layui-col-sm8, .layui-col-sm9, .layui-col-xs1, .layui-col-xs10, .layui-col-xs11, .layui-col-xs12, .layui-col-xs2, .layui-col-xs3, .layui-col-xs4, .layui-col-xs5, .layui-col-xs6, .layui-col-xs7, .layui-col-xs8, .layui-col-xs9 { position: relative; display: block; box-sizing: border-box; }
.layui-col-xs1, .layui-col-xs10, .layui-col-xs11, .layui-col-xs12, .layui-col-xs2, .layui-col-xs3, .layui-col-xs4, .layui-col-xs5, .layui-col-xs6, .layui-col-xs7, .layui-col-xs8, .layui-col-xs9 { float: left; }
.layui-col-xs4 { width: 33.3333%; }
.layui-col-xs8 { width: 66.6667%; }
.layui-col-space10 { margin: -5px; }
.layui-col-space10 > * { padding: 5px; }
.layui-col-space20 { margin: -10px; }
.layui-col-space20 > * { padding: 10px; }
.layui-bg-gray { background-color: rgb(238, 238, 238) !important; color: rgb(102, 102, 102) !important; }
.layui-btn .layui-icon { margin-right: 3px; font-size: 18px; vertical-align: bottom; }
.layui-layedit-tool .layedit-tool-mid, .layui-layedit-tool .layui-icon { display: inline-block; vertical-align: middle; text-align: center; font-size: 14px; }
.layui-layedit-tool .layui-icon { position: relative; width: 32px; height: 30px; line-height: 30px; margin: 3px 5px; color: rgb(119, 119, 119); cursor: pointer; border-radius: 2px; }
.layui-layedit-tool .layui-icon:hover { color: #23262E; }
.layui-layedit-tool .layui-icon:active { color: rgb(0, 0, 0); }
.layui-upload-drag .layui-icon { font-size: 50px; color: rgb(0, 150, 136); }
.layui-nav { position: relative; padding: 0px 20px; background-color: #23262E; color: rgb(255, 255, 255); border-radius: 2px; font-size: 0px; box-sizing: border-box; }
.layui-nav * { font-size: 14px; }
.layui-nav .layui-nav-item { position: relative; display: inline-block; vertical-align: middle; line-height: 60px; }
.layui-nav .layui-nav-item a { display: block; padding: 0px 20px; color: rgba(255, 255, 255, 0.701961); transition: all 0.3s; }
.layui-nav .layui-this::after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed::after { position: absolute; left: 0px; top: 0px; width: 0px; height: 5px; background-color: rgb(95, 184, 120); transition: all 0.2s; }
.layui-nav .layui-nav-item a:hover, .layui-nav .layui-this a { color: rgb(255, 255, 255); }
.layui-nav .layui-this::after { content: ""; top: auto; bottom: 0px; width: 100%; }
.layui-nav .layui-nav-more { content: ""; width: 0px; height: 0px; border-style: solid dashed dashed; border-color: rgba(255, 255, 255, 0.701961) transparent transparent; overflow: hidden; cursor: pointer; transition: all 0.2s; position: absolute; top: 50%; right: 3px; margin-top: -3px; border-width: 6px; }
.layui-nav .layui-nav-mored, .layui-nav-itemed .layui-nav-more { margin-top: -9px; border-style: dashed dashed solid; border-color: transparent transparent rgb(255, 255, 255); }
.layui-nav .layui-nav-child a { color: rgb(51, 51, 51); }
.layui-nav .layui-nav-child a:hover { background-color: rgb(242, 242, 242); color: rgb(0, 0, 0); }
.layui-nav .layui-nav-child dd.layui-this a, .layui-nav-child dd.layui-this { background-color: rgb(95, 184, 120); color: rgb(255, 255, 255); }
.layui-nav-tree .layui-nav-item { display: block; width: 100%; line-height: 45px; }
.layui-nav-tree .layui-nav-item a { height: 45px; line-height: 45px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.layui-nav-tree .layui-nav-item a:hover { background-color: rgb(78, 84, 101); }
.layui-tab-bar .layui-icon { position: relative; display: inline-block; top: 3px; transition: all 0.3s; }
.layui-tab-more .layui-tab-bar .layui-icon { top: -2px; transform: rotate(180deg); }
:root .layui-tab-more .layui-tab-bar .layui-icon { }
.layui-badge, .layui-badge-dot, .layui-badge-rim { position: relative; display: inline-block; padding: 0px 6px; font-size: 12px; text-align: center; background-color: rgb(255, 87, 34); color: rgb(255, 255, 255); border-radius: 2px; }
.layui-badge { height: 18px; line-height: 18px; }
.layui-btn .layui-badge, .layui-btn .layui-badge-dot { margin-left: 5px; }
.layui-nav .layui-badge, .layui-nav .layui-badge-dot { position: absolute; top: 50%; margin: -8px 6px 0px; }
.layui-tab-title .layui-badge, .layui-tab-title .layui-badge-dot { left: 5px; top: -2px; }
.layui-fixbar { position: fixed; right: 15px; bottom: 15px; z-index: 9999; }
.layui-fixbar li { width: 50px; height: 50px; line-height: 50px; margin-bottom: 1px; text-align: center; cursor: pointer; font-size: 30px; background-color: rgb(159, 159, 159); color: rgb(255, 255, 255); border-radius: 2px; opacity: 0.95; }
.layui-fixbar li:hover { opacity: 0.85; }
.layui-fixbar li:active { opacity: 1; }
.layui-fixbar .layui-fixbar-top { display: none; font-size: 40px; }
.layui-anim.layui-icon { display: inline-block; }
body, html { overflow-x: hidden; }
.header { height: 59px; border-bottom: 1px solid rgb(64, 69, 83); background-color: #23262E; margin-bottom: 10px; }
.logo { position: absolute; left: 0px; top: 6px; }
.logo img { height: 45px; }
.header .layui-nav { position: absolute; left: 170px; top: 0px; padding: 0px; background: none; }
.header .layui-nav .layui-nav-item { margin: 0px 5px; }
.header .layui-nav .layui-nav-item[mobile] { display: none; }
.header .layui-container .logo { left: 15px; }
.header .layui-container .layui-nav { right: 15px; }
.header-index .component { min-width: 300px; }
.layui-nav .layui-nav-item a { font-family: "Helvetica Neue", Helvetica, "PingFang SC", 微软雅黑, Tahoma, Arial, sans-serif; }
.layui-panal { border: 1px solid rgb(217, 217, 217); background-color: rgb(255, 255, 255); }
.layui-article-detail .layui-panal { }
.layui-article-detail .layui-otherpanal-title { border-top: 0px !important; }
.layui-article-detail .layui-panal-title > span:first-child { border-left: 5px solid rgb(95, 184, 120) !important; padding-left: 10px !important; font-size: 16px !important; }
.layui-article-detail .layui-panal .layui-panal-title { margin: 0px 10px; border-bottom: 1px solid rgb(204, 204, 204); padding: 10px 10px 7px !important; }
.layui-article-detail .layui-panal .layui-panal-title-Header { margin: 0px 10px; border-bottom: 1px solid rgb(204, 204, 204); font-size: 13px !important; border-left: 0px !important; padding: 10px 10px 7px !important; }
.layui-article-detail .layui-panal .layui-panal-content { padding: 10px 15px; }
.layui-article-detail .layui-panal .layui-panal-content > h1 { font-size: 26px; }
.layui-article-detail .layui-panal .layui-panal-content .layui-info { padding: 10px 0px; font-size: 13px; position: relative; }
.layui-article-detail .layui-panal .layui-panal-content .layui-info > span { margin-right: 20px; margin-left: 5px; }
.layui-article-detail .layui-panal .layui-panal-content .layui-info > span > i { font-size: 13px; }
.layui-otherpanal-title { padding: 7px 10px 0px !important; border-bottom: none !important; }
.layui-panal-title { border-bottom: 1px solid rgb(217, 217, 217); padding: 10px 10px 7px; clear: both; }
.layui-panal-title > span:first-child { border-left: 5px solid rgb(95, 184, 120); padding-left: 10px; font-size: 16px; margin-right: 10px; }
.layui-panal-title .layui-breadcrumb { display: inline-block; white-space: nowrap; overflow: hidden; float: right; text-align: right; max-width: 400px; }
.layui-panal-title .layui-breadcrumb a { font-size: 12px; }
.layui-panal-content { padding: 10px; }
.layui-panal-content .layui-breadcrumb { visibility: visible; }
.layui-panal-content .layui-Essence img { width: 100%; height: 60px; }
.layui-panal-content .layui-Special a { padding: 5px; display: inline-block; background-color: rgb(95, 184, 120); color: white; margin: 2px; border: none; border-radius: 3px; }
.layui-panal-content .layui-Special a:hover { opacity: 1; }
.layui-panal-content .layui-Special a:nth-child(9n+1) { background-color: rgb(52, 152, 219); }
.layui-panal-content .layui-Special a:nth-child(9n+2) { background-color: rgb(46, 204, 113); }
.layui-panal-content .layui-Special a:nth-child(9n+3) { background-color: rgb(231, 76, 60); }
.layui-panal-content .layui-Special a:nth-child(9n+4) { background-color: rgb(26, 188, 156); }
.layui-panal-content .layui-Special a:nth-child(9n+5) { background-color: rgb(230, 126, 34); }
.layui-panal-content .layui-Special a:nth-child(9n+6) { background-color: rgb(189, 195, 199); }
.layui-panal-content .layui-Special a:nth-child(9n+7) { background-color: rgb(127, 140, 141); }
.layui-panal-content .layui-Special a:nth-child(9n+8) { background-color: rgb(52, 73, 94); }
.layui-panal-content .layui-Special a:nth-child(9n) { background-color: rgb(155, 89, 182); }
.layui-panal-content .layui-ul li a { padding-left: 10px; width: 100% !important; margin-left: 0px !important; text-align: left !important; color: rgb(102, 102, 102) !important; font-size: inherit !important; border-right: none !important; }
.layui-panal-content .layui-ul li a:hover { color: rgb(95, 184, 120) !important; }
.layui-panal-content .layui-abstract { line-height: 21px; text-indent: 27px; letter-spacing: 1px; }
.layui-panal-content .layui-article > div { margin-bottom: 20px; position: relative; border-bottom: 1px solid rgb(204, 204, 204); clear: both; }
.layui-panal-content .layui-article > div > h1 { margin: 5px; font-size: 16px; }
.layui-panal-content .layui-article > div > h1 > a { font-weight: bold; }
.layui-panal-content .layui-article > div > h1 > i { color: rgba(255, 0, 0, 0.8); position: absolute; right: 50px; top: 10px; font-size: 54px; }
.layui-panal-content .layui-article > div > p { margin: 5px; font-size: 11px; color: rgb(204, 204, 204); }
.layui-panal-content .layui-article > div > p > span { margin-right: 20px; }
.layui-panal-content .layui-article > div > p > span > i { font-size: 11px; }
.layui-article .Article-list { display: inline-block; clear: both; }
.layui-article .layui-col-md4 > div { border: 1px solid rgb(204, 204, 204); box-sizing: border-box; padding: 10px; }
.layui-article .layui-col-md4 a img { width: 100%; height: 200px; }
.layui-article .layui-col-md4 h2 { padding: 10px 0px 0px; font-size: 16px; }
.layui-article .layui-col-md4 h2 a { width: 100%; display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.layui-article .layui-col-md4 p { overflow: hidden; margin: auto; height: 40px; color: rgb(102, 102, 102); font-size: 12px; line-height: 20px; }
.layui-article .layui-col-md4 .layui-info { font-size: 11px; color: rgb(204, 204, 204); margin: 5px 0px 0px; }
.layui-article .layui-col-md4 .layui-info span { margin-right: 20px; }
.layui-article .layui-col-md4 .layui-info i { font-size: 11px; }
.layui-article .Article-list .Article-Img { float: left; }
.layui-article .Article-list .Article-Img img { width: 150px; height: 95px; padding: 0px 10px 10px; }
.layui-article .Article-content { line-height: 23px; text-indent: 30px; margin-bottom: 10px; }
.layui-article .Article-content span:last-child { text-indent: initial; margin-right: 10px; vertical-align: middle; text-align: right; }
.layui-article .Article-content span:last-child > a { display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: rgb(95, 184, 120); }
.layui-Special > div:first-child { background-color: white; border: 1px solid rgb(217, 217, 217); }
.layui-Special > div:first-child > div:first-child { border-bottom: 3px solid rgb(95, 184, 120); margin-bottom: 10px; padding: 5px 10px; font-weight: bold; font-size: 16px; color: rgb(95, 184, 120); }
.layui-Special .layui-row { padding: 5px; }
.layui-Special .layui-Special-header-title { padding: 5px 10px; background-color: rgb(189, 225, 255); font-weight: bold; }
.layui-Special .layui-row .layui-col-md2 { text-align: center; background-color: rgb(189, 225, 255); font-weight: bold; margin-bottom: 10px; }
.layui-Special .layui-row .layui-col-md10 { padding-top: 0px; }
.layui-Special .layui-row .layui-col-md10 a { font-size: 13px; }
.layui-col-md6 .layui-panal { border: 1px solid rgb(217, 217, 217); background-color: rgb(255, 255, 255); }
.layui-panal-content ul li { margin-bottom: 9px; }
.layui-panal-content ul li:last-child { margin-bottom: 0px; }
.layui-panal-content ul li > a:first-child { margin-right: 5px; color: rgb(95, 184, 120); font-size: 14px; display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 100px; vertical-align: bottom; }
.layui-panal-content ul li a:last-child { margin-left: 5px; display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; max-width: 400px; vertical-align: bottom; }
.layui-panal-content ul li > span { font-size: 13px; padding: 0px 5px; border-right: 1px solid rgb(216, 216, 216); }
.layui-panal-content ul li > span label { margin: 0px; padding: 0px; }
.layui-panal-content ul li > em { display: inline-block; width: 16px; height: 16px; text-align: center; background: rgb(153, 153, 153); padding: 0px 2px; border-radius: 3px; color: white; font-style: normal; }
.layui-panal-content ul li:nth-child(1) > em, .layui-panal-content ul li:nth-child(2) > em, .layui-panal-content ul li:nth-child(3) > em { background-color: rgb(250, 78, 87); }
.layui-panal-content ul li > p > a { max-width: 76%; display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; vertical-align: bottom; margin-left: 5px; }
.layui-panal-content ul li > p > a > b { font-weight: normal; }
.layui-panal-content ul li > p > span { float: right; font-size: 13px; margin-right: 10px; }
.layui-panal-content .hotUl li a { display: inline-block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; vertical-align: middle; max-width: 75% !important; margin-left: 5px !important; }
.layui-panal-content .hotUl li b { margin-left: 10px; font-weight: 400; font-size: 11px; color: rgb(204, 204, 204); float: right; }
.layui-panal-content .hotUl li b i { vertical-align: middle; }
.layui-footer { background-color: #23262E; padding: 30px 0px; line-height: 30px; text-align: center; color: white; font-weight: 300; border-top: 1px solid rgb(217, 217, 217); }
.layui-footer a { padding: 0px 5px; color: white; font-size: 15px; }
.iconfont { font-size: 16px; font-style: normal; -webkit-font-smoothing: antialiased; font-family: iconfont !important; }
.icon-liulan::before { content: ""; }
.icon-riqi::before { content: ""; }
div.paginator { margin: 0px 10px 20px; clear: both; display: inline-block; text-align: center; width: 100%; }
div.paginator a, div.paginator span { display: block; float: left; margin: 2px 0px 0px -1px; padding: 4px 12px; line-height: 20px; height: 20px; border: 1px solid rgb(225, 225, 225); background: rgb(255, 255, 255); color: rgb(51, 51, 51); text-decoration: none; }
div.paginator span:first-child { border-left: 1px solid rgb(225, 225, 225); }
div.paginator a:hover { color: rgb(102, 102, 102); background: rgb(238, 238, 238); }
div.paginator span.current { color: rgb(255, 255, 255); background: rgb(72, 143, 205); border-color: rgb(72, 143, 205); }
div.paginator span.disabled { color: rgb(153, 153, 153); background: rgb(255, 255, 255); }
html #layuicss-laydate { display: none; position: absolute; width: 1989px; }
.laydate-time-show .laydate-set-ym span[lay-type="month"], .laydate-time-show .laydate-set-ym span[lay-type="year"], .laydate-time-show .layui-laydate-header .layui-icon, .laydate-ym-show .laydate-set-ym span[lay-type="month"] { display: none !important; }
html #layuicss-layer { display: none; position: absolute; width: 1989px; }
html #layuicss-skincodecss { display: none; position: absolute; width: 1989px; }
#showContent{ padding: 20px 0; font-size: 1.2em; line-height: 1.8em;}